body {
    background-color: #222;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form {
    background: #333;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 40px auto;
    box-shadow: 0 0 10px #fff;
}
input, select {
    margin: 10px 0;
    padding: 5px;
    background: #444;
    color: #fff;
    border: 1px solid #fff;
}
